html{
    scroll-behavior: smooth;
}
body{
    display: block;
    background-color: #fbfbfb;
      font-family: 'Courier New', Courier, monospace;
    color:#1d1d1f;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    min-width: 320px;
    height: 100%;
}



/* Style the navigation bar links */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    font-size: 1.6rem;
}

/* Left-aligned link (logo) */
.navbar a.logo {
    float: left;
    text-decoration: none;
    font-size: 1.5em; /* Adjust as needed */
    font-weight: bold;
    color: #1d1d1f;
}




.navbar a.logo img {
    width: 4.5em; /* Adjust as needed */
    height: auto; /* Keeps the aspect ratio */
}


/* Center-aligned links (home, about, team) */
.navbar .navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navbar .navbar-center a {
    display: block;
    text-decoration: none;
    color: #fbfbfb;
    text-transform: uppercase;
}

/* Right-aligned link (contact) */
.navbar a.right {
    float: right;
    color: #fbfbfb;
    margin-right: 50px;
    padding: 10px;

    display: block;
    text-decoration: none;
    text-transform: uppercase;
}


.navbar a:hover {
    font-weight: bold;
}

/*Style pour le navbar en noir*/
/* Style for the black text navigation bar */
.black-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    font-size: 1.6rem;
}

/* Left-aligned link (logo) */
.black-navbar a.logo {
    float: left;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}

.black-navbar a.logo:hover {
    float: left;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}

/* Center-aligned links (home, about, team) */
.black-navbar .navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.black-navbar .navbar-center a {
    display: block;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

/* Right-aligned link (contact) */
.black-navbar a.right {
    float: right;
    color: #000000;
    margin-right: 50px;
    padding: 10px;

    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.black-navbar a:hover {
    font-weight: bold;
}



/* Style pour la page home pour la 1 ieme div */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align the title and paragraph vertically */
    height: 80vh;
    text-align: center; /* Center the text */
    position: relative;
    z-index: 1;
}

.header .title {
    color:#1d1d1f; 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    animation: fadeIn 3s ease-in-out forwards; /* Adjust the delay as needed */
    font-size: 3rem;
}

.header .subtitle {
    color:#1d1d1f;
    animation: fadeIn 7s ease-in-out forwards; /* Adjust the delay as needed */
    margin: 30px;
    font-size: 2rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

/* Responsive text size */
@media (max-width: 768px) {
    .header .title {
        font-size: 2rem; /* adjust based on your needs */
    }

    .header .subtitle {
        font-size: 1.2rem; /* adjust based on your needs */
    }
}



.container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}



/* Style pour la page home pour le 2 ieme div */
.section1 {
    background-image: url('/images/img-mtl.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
}

.content {
    margin-bottom: 250px;
    text-align: center;
    padding: 2em; /* some padding around your text */
    width: 80%;
    height: 200px;
}

.content h1 {
    font-size: 2.5rem;
    margin: 30px;
    margin-top: 0px;
    
}
.content p:hover{
    scale: 1.2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content h1, .content p {
    animation: fadeIn 5s ease-in-out;
}


.animate-text {
    animation: fadeIn 5s ease-in-out forwards; /* 'forwards' will retain the end state */
}



/* Style pour la page home pour le 3 ieme div */
.section2{
    background-color: #1d1d1f;
    color: #fbfbfb;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .section2 {
        display: table;
    }
    .section2 .left-half, .section2 .right-half {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .section2 .left-half img, .section2 .right-half img {
        display: block;
        margin: auto;
    }
}



.left-half, .right-half {
    width: 48%; /* 100% - space between two halves */
    box-sizing: border-box;
    text-align: center;
    margin:50px;
    overflow: hidden;
}

.left-half {
    overflow: hidden;
}
@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.left-half h2, .left-half p {
    animation-name: slideFromLeft;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.right-half h2, .right-half p {
    animation-name: slideFromRight;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-play-state: paused;
    
}


.left-half img {
    animation-name: slideFromTop;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.right-half img {
    animation-name: slideFromBottom;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.left-half img {
    display: block;
    margin: auto;
    width: 70%; 
    height: 50%;
    object-fit: cover;
    border:2px solid #fff;
    border-radius:25px;
}

.right-half img {
    display: block;
    margin: auto;
    width: 70%; 
    height: 50%;
    object-fit: cover;
    border:2px solid #fff;
    border-radius:25px;
    
}

.left-half img:hover, .right-half img:hover {
    transform: scale(1.1) translateY(0);
    transition: transform 0.3s ease-in-out; /* adjust the timing as per your requirement */
}







/* Style pour la page home pour le 4 ieme div */
.section3 {
    display: flex;
    justify-content: space-between;
   
}

.section3 {
    position: relative;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* To make the video appear behind the other content */
    opacity: 0.8;
}


@media screen and (max-width: 1000px) { /* adjust the value as needed */
    .section3 {
        display: table;
    }
}

.left-half-s3, .right-half-s3 {
    justify-content: center;
    align-items: center;
    width: 48%; /* 100% - space between two halves */
    box-sizing: border-box;
    margin:100px;
    height: 100%;
    
}

.section3 .left-half-s3 img {
    display: block;
    margin: auto;
    width: 100%; 
    height: 60%;
    object-fit: cover;
    border:2px solid #fff;
    border-radius:25px;
    border: 2px solid #0c0a0a;
    box-shadow: 5px 5px 15px 5px #000000;
    transition: transform 1.5s;
}
.section3 .left-half-s3 img:hover{
    transform: rotateY(-30deg);
    transform: rotate3d(1, 1, 1, 360deg);
} 


.section3 .right-half-s3 h2, .section3 .right-half-s3 p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;  /* Centers the text horizontally */
   
}

.section3 .right-half-s3{
    overflow: auto;
}

.section3 .right-half-s3 p:hover{
    font-weight: 700;
}



/* Style pour la page team.html */


.profile-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    text-align: justify;
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

/* Media query for small screens */
@media screen and (max-width: 1000px) { /* adjust the value as needed */
    .profile-container {
        display: table;
    }
}


.profile-container .left {
    width: 60%;
    margin-right: 20px;
    margin-left: 120px;
}

.profile-container .left h1{
    font-size: 3rem;
    color: #1d1d1f;
    text-shadow: #1d1d1f;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.profile-container .left h2{
    font-size: 1.5rem;
    color: rgb(56, 54, 54);
    text-shadow: 4px 1px 8px rgba(0,0,0,0.6);
    margin-top: 0px;
    padding-top: 0px;
}

.profile-container .left p:hover{
    font-weight: bold;
}


.profile-container .right {
    width: 550px;
    height: 550px;
    overflow: hidden;
    margin-right: 120px;
    margin-left: 50px;
    margin-top: 50px;
}

.profile-container img {
    width: 100%; /* You can use either width or height, depending on what dimension you want the image to adhere to */
    height: 90%;
    object-fit: cover;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    border-radius:25px;
}

.profile-container .right {
    perspective: 1000px;
    transition: transform 0.5s;
}

.profile-container .right img {
    transition: transform 0.5s;
}







/* you can also add some margin or padding for better appearance */
.profile-container .left, .profile-container .right {
    padding: 1em;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 10px;
    color: black; /* This will make the icons black */
    text-decoration: none; /* This will remove the underline */
}


.social-icons a:hover i {
    color: gray; /* Change color when hovering over the icon */
  
}


    

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    color: #fff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-socials, .footer-location {
    display: flex;
}

.footer-socials a {
    margin: 0 10px;
}

.footer-socials img {
    width: 24px; /* adjust as needed */
    height: 24px; /* adjust as needed */
}



.footer-location {
    font-size: 16px;
}


